<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Munch that Burger Down!{{else}}Burger Ready to Eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">Throw It Away!</button>
</li>
